//
   Created by Angular2 on 15-11-2.
html
    head
        title
            | Quick Start
        script(src="../node_modules/systemjs/dist/system.js")
        script(src="../node_modules/angular2/bundles/angular2.dev.js")
        script.
            System.config({
                packages: {
                    'app': {
                        defaultExtension: 'js'
                    }
                }
            });
            System.import('dist/app.js');
    body
        my-app
            | loading...


