html
	head
		base(
		href="/src"
		)
		title
			| Quick Start

		script(src="../node_modules/systemjs/dist/system.js")
		script.
			System.config({
				baseUrl: '/posts',
				packages: {
					'.': {
						defaultExtension: 'js'
					}
				}
			});
		script(src="../node_modules/angular2/bundles/angular2.dev.js")

		script(src="../node_modules/angular2/bundles/http.dev.js")

		script(src="../node_modules/angular2/bundles/router.dev.js")

		script.
			window.angularDevMode = true;
			var filename = '../dist/scripts/index.js';
			System.import(filename).then(function (m) {
				m.main();
			}, console.error.bind(console));
	body
		post-app


